html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 1.2vw;
  background: #eee
}

a {
  color: inherit;
  text-decoration: none;
}

main > div {
  margin-top: 2vw;
  background: #fff;
  padding: 1.6vw 4vw;
  border-bottom: 1px solid #eee
}

label {
  display: inline-block;
  padding: 1.2vw 0;
  margin-right: 2vw;
}

label input,
label select {
  margin-left: 1.6vw;
}

input[type=number] {
  width: 64px
}

h1 {
  margin: 1.6vw 0;
  line-height: 1;
  font-size: 150%;
  font-weight: normal
}

h1 b {
  opacity: 1;
  font-weight: 500;
  margin-left: 1vw;
}

ul {
  padding: 0
}

li {
  display: grid;
  grid-template-columns: 2.5fr 5fr 1fr;
  width: 100%;
  padding: .6% 0;
}

li.debit {
  color: #bb3d3d
}

h1 b,
li.credit {
  color: #328431
}

li:first-child {
  margin-bottom: 1.6vw;
  background: white;
  border-bottom: 1px solid #ccc
}

li div:last-child {
  text-align: right;
}

button {
  margin: 1.2vw 0;
  background: #eeeeee;
  border: none;
  border-radius: 0;
  line-height: 280%;
  padding: 0 3.6%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

@media (max-width: 980px) {
  body {
    font-size: 2vw;
  }
  li {
    padding: 1.2% 0;
    grid-template-columns: 3fr 3fr 1fr;
  }
  main > div {
    margin-top: 3.2vw;
    padding: 2.4vw 4vw;
  }
}
@media (max-width: 640px) {
  body {
    font-size: 3.2vw;
  }
  main > div {
    margin-top: 3.2vw;
    padding: 3.6vw 6vw;
  }
  h1 {
    margin: 3.2vw 0;
    font-size: 180%
  }
  input, button, select {
    font-size: 16px
  }
  button {
    margin: 2.4vw 0
  }
  label {
    padding: 2.4vw 0;
    margin-right: 4.8vw;
  }
}

.loading {
  pointer-events: none;
  animation: fade 2.5s linear infinite;
}

@keyframes fade {
  0% { opacity: .5; }
  50% { opacity: 1; }
}